@tailwind base;
@tailwind components;
@tailwind utilities;

.event-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .event-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .event-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .event-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}